@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title--text {
  font-family: 'Oswald', sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

/* .MuiPaper-root.MuiAppBar-root.MuiPaper-elevation4 {
  position: fixed !important;
  left: 0 !important;
  z-index: 1;
} */

.board {
  //width: 100vw;
  //height: 100vh;
  overflow: hidden;
  height: calc(100vh - 150px);
  border: 1px solid #000;
}

